@font-face {
  font-family: 'siteicons';
  src:  url('fonts/siteicons.eot?a51ipe');
  src:  url('fonts/siteicons.eot?a51ipe#iefix') format('embedded-opentype'),
    url('fonts/siteicons.ttf?a51ipe') format('truetype'),
    url('fonts/siteicons.woff?a51ipe') format('woff'),
    url('fonts/siteicons.svg?a51ipe#siteicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'siteicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\f02d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-telegram:before {
  content: "\f2c6";
}
