@import 'font.css';
body {
  margin: 0;
}

.top {
  background-color: #081a52;
  color: white;
}
.top .h-link a {
  color: #fff;
  text-decoration: none;
}
.top .h-link a:hover {
  text-decoration: underline;
}
.top .sym-uzb a {
  margin-right: 10px;
}
.top .sym-uzb a img {
  height: 24px;
}
.top .sym-uzb a:first-child img {
  height: 15px;
}
.top button.dropdown-toggle {
  background: none;
  border: none;
  color: #fff;
}
.top .social span:not(:last-child) {
  margin-right: 10px;
}

.header {
  position: relative;
  background: url("../img/qmii.jpg") no-repeat center top/cover;
}
.header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header ul {
  position: absolute;
  z-index: 111;
}
.header ul li {
  display: inline-block;
}
.header ul li:hover {
  background-color: #222;
}
.header ul li:hover ul {
  display: block;
}
.header ul li ul {
  position: absolute;
  width: 200px;
  background-color: #222;
  display: none;
  padding: 0;
}
.header ul li ul li {
  display: block;
  color: #fff;
  padding: 0 15px;
  border-left: 5px solid #222;
}
.header ul li ul li:hover {
  background-color: #000;
  border-left-color: #fff;
}
.header ul li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}
.header a.logo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  display: block;
  margin: 20px 0;
}
.header a.logo img {
  margin-right: 15px;
  margin-top: 15px;
  float: left;
}
.header .carousel .carousel-item img {
  width: 70%;
}
.header .carousel .carousel-item .slide-caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #314573;
  padding: 20px;
  color: #fff;
}
.header .carousel .carousel-control-next {
  right: 0;
  top: initial;
  bottom: 30px;
}
.header .carousel .carousel-control-prev {
  top: initial;
  left: initial;
  right: 50px;
  bottom: 30px;
}
.header .iact-serv {
  background-color: rgba(52, 62, 85, 0.5);
  color: #fff;
  z-index: 999;
  padding: 0 20px;
}
.header .iact-serv a {
  color: #fff;
  text-decoration: none;
}
.header .iact-serv .virtual-reception {
  border-bottom: 2px solid #fff;
  background: url(../img/envelope.svg) no-repeat 0 20px/50px;
  padding: 20px 0 20px 60px;
  position: relative;
}
.header .iact-serv .virtual-reception a {
  font-size: 1em;
  text-decoration: underline;
}
.header .iact-serv .virtual-reception a:hover {
  text-decoration: none;
}
.header .iact-serv .virtual-reception a:hover i {
  display: flex;
}
.header .iact-serv .virtual-reception a i {
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .iact-serv .electron-address {
  border-bottom: 2px solid #fff;
  position: relative;
  text-align: center;
  padding: 5px 0;
}
.header .iact-serv .electron-address a {
  font-size: 1.3em;
}
.header .iact-serv .electron-address a:hover {
  text-decoration: none;
}
.header .iact-serv .electron-address a:hover i {
  display: flex;
}
.header .iact-serv .electron-address a i {
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.header .iact-serv .online-contract {
  text-align: center;
}
.header .iact-serv .online-contract a {
  font-size: 1.8em;
  font-weight: 500;
}

.middle {
  background-color: #ddd;
}
.middle ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.middle ul li {
  display: inline-block;
}
.middle ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.middle ul li a:hover {
  text-decoration: underline;
}
.middle ul li a::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
}